{% extends '::base.html.twig' %}
{% block body %}
<div class="codrops-top"><p align="center">Product of Pixelz</div><!--/ Codrops top bar -->

<header>

    <h1><strong>Wiki Lanka</strong></h1>
    <h2>Knowledge hub for tourists in Sri Lanka</h2>
    <div class="support-note">
        <span class="note-ie">Sorry, only modern browsers.</span>
    </div>

</header>

<section class="main">

    <p align="center" >
    <p align="center">&nbsp;</p>
    <p align="center"><strong><em>You are not Connected.</em></strong><br><br>
        Please disable pop-up blocking to enable facebook login
    </p><p align="center">
    <form class="form-4" action="home.php">
        <br><br>





        <input type="text" class="input" name="number" required="true" placeholder = "enter your Mobile Number">
        <input class = "shareButton" type="submit" value="Connect to Facebook" ><br>






    </form>	
</p>



</p>       
​
<p align="center">
<h2 align="center" > powered by <br>
    <a href="http://www.pixelzexplorer.org"><img src="{{asset('bundles/wikilankastyle/images/Logo_Pixelz.png')}}" width="124" height="50" alt="Pixelz" longdesc="http://www.pixelzexplorer.org"></a></h2></p>
</section>


{% endblock %}
